<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hey welcome to my dance website</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Edu+SA+Beginner:wght@600&family=Edu+VIC+WA+NT+Beginner&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    style
        include ../static/style.css
</head>
<body>
    <nav id="navigation">
        <ul>
            img(src='../static/dance01.jpg', alt='logo',id="dance") 
            <li><a href="/">Home</a></li>
            <li><a href="/about" onclick="return confirm('you are redirected to the about page')">About us</a></li>
            <li><a href="/contact" onclick="return confirm('you are redirected to the contact page')">Contact us</a></li>
            <li><a href="/" >Join us</a></li>
            <li><a href="/">Services</a></li>
        </ul>
   
    </nav>
    section#intro
       h3 We provide good trainers individually to improve the performance
       h3 Welcome to my dance academy 
       p  Lorem, ipsum dolor. 

    section#services 
       .h1 Our Services
       #cont  
            #div1.h welcome
                 img(src='../static/mast01.jpg',alt='',id='logo1')
                 p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dicta ullam blanditiis obcaecati sapiente laborum?Lorem ipsum dolor, sit amet consectetur adipisicing elit.
            #div1.h hello 
                 img(src='../static/mast01.jpg',alt='',id='logo1')
                 p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dicta ullam blanditiis obcaecati sapiente laborum?Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                 
            #div1.h congrats! 
                 img(src='../static/mast01.jpg',alt='',id='logo1')
                 p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dicta ullam blanditiis obcaecati sapiente laborum?Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                  
    section#spon
       #head Our Sponsors
       #comp  
            img(src='../static/logo-1.webp', alt='logo',id="comp") 
            img(src='../static/logo-2.jpg', alt='logo',id="comp") 
            img(src='../static/logo-3.avif', alt='logo',id="comp") 
            img(src='../static/logo-4.png', alt='logo',id="comp") 
       
    
    footer#footer 
       p @Copyright 2020-2025.
       p All rights reserved. Powered by Danceweb.com
    
</body>
</html>